.bg {
  background-color: black;
  background-image: url("../public/bg.jpg");
  filter: blur("1px");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  opacity: 0.5;
  position: fixed;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-top: 50px;

  width: min(60vw, 450px);
  height: 95vh;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgba(#333, 0.1);
  background: rgba(0, 0, 0, 0.05);
  --webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  font-style: italic;


}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header>.title {
  font-size: 30px;
  font-weight: 700;

}

.header>.description {
  font-size: 20px;
  font-weight: 400;

}

.nft__slideshow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nft__slideshow__left {
  flex: 0.5;

}

.nft__slideshow__right {
  flex: 0.5;
  margin-left: 10%;
  font-weight: 500;
}

.nft__slideshow__right>h3 {
  font-size: 20px;
}

.nft__slideshow__left>img {
  width: min(30vw, 200px);
  height: min(30vw, 200px);
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid grey;
}

.nft__selector {
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;

}

.nft__selector__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nft__selector__left>button {
  background-color: black;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft__selector__left>button>img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 1px solid black;
  border-radius: 5px;
}



.nft__selector__left>button>img:hover {
  cursor: pointer;
}

.nft__selector__left>button>img:active {
  cursor: default;
}

.nft__selector__right {
  margin-right: 30px;
}

.nft__fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  font-size: 22px;
  font-weight: 700;
  font-style: normal;
}

.nft__mint__button {
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  transition: all 200ms ease-in-out;

}

.nft__mint__button:hover {
  background-color: transparent;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

.nft__minted {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}